@include breakpoint($tablet-max-width $desktop-min-width) {

  @include layout($tablet-layout);

  html body {

    @include block('send-message') {
      margin-top: 172px;

      @include element('title') {
        @include fontsize(40);
        padding-bottom: 16px;
      }

      @include element('description') {
        @include fontsize(24);
        margin-top: 16px;
        margin-bottom: 329px;
      }
    }
  }

  body {

    @include block('nav') {

      @include element('item') {
        margin: 0;
        padding: 0 rem-calc(10);
      }

      @include element('lang-item') {
        padding: 0;
      }
    }

    @include block('article') {

      @include element('title') {
        @include span(6);
      }

      @include element('quote') {
        @include span(5);
      }

      @include element('cite') {
        @include fontsize(16);
        margin-bottom: 30px;
      }

      p {
        @include fontsize(17);
      }
    }

    @include block('brain') {

      @include element('title') {
        @include fontsize(29);
      }
    }

    @include block('love-it') {

      @include element('inner') {
        @include fontsize(34);
      }
    }

    @include block('advantages') {

      @include element('title') {
        @include fontsize(18);
      }

      @include element('item') {

        &:nth-child(2) {
          margin: 0 percentage(50px / ($desktop));
        }
      }
    }

    @include block('process') {

      @include element('steps') {
        background-image: url(../img/steps-768.png);

      }
    }
  }
}