<!doctype html>
<html class="no-js" lang="en" ng-app="meldgraphics">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- build:css /css/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body ng-controller="meldgraphicsCtrl as main" scroll>
        <nav class="nav" ng-class="{'nav--moved' : main.showNav}">
            <div class="wrapper">
                <a href="/" class="nav__logo">
                </a>
                <a ng-click="main.toggleNav()" class="nav__control"></a>
                <div class="nav__container">
                    <a class="nav__close" ng-click="main.toggleNav()"></a>
                    <ul class="nav__list">
                        <li><a class="nav__item" ng-class="{'nav__item--active': main.activeSectionClass == '.about-us'}" ng-click="main.scrollToSection('.about-us')">about us</a></li>
                        <li><a class="nav__item" ng-class="{'nav__item--active': main.activeSectionClass == '.services'}" ng-click="main.scrollToSection('.services')">services</a></li>
                        <li><a class="nav__item" ng-class="{'nav__item--active': main.activeSectionClass == '.process'}" ng-click="main.scrollToSection('.process')">process</a></li>
                        <li><a class="nav__item" ng-class="{'nav__item--active': main.activeSectionClass == '.projects'}" ng-click="main.scrollToSection('.projects')">projects</a></li>
                        <li><a class="nav__item" ng-class="{'nav__item--active': main.activeSectionClass == '.contact'}" ng-click="main.scrollToSection('.contact')">contact</a></li>
                    </ul>
                    <ul class="nav__lang-list">
                        <li><a class="nav__lang-item nav__lang-item--active" href="/">ru</a></li>
                        <li><a class="nav__lang-item" href="/">en</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="wrap-all" ng-class="main.showNav ? 'document--moved' : ''">

            <ng-view></ng-view>

            <a ng-href="#contact" id="make-order">Let's start working together <i class="fa fa-long-arrow-right"></i></a>
            <footer class="contact">
                <div class="wrapper contact__wrapper">
                    <header class="contact__title">Contact.</header>
                    <aside class="contact__phones phones">
                        <ul class="phones__list">
                            <li><a class="phones__item" href="tel:+37067621123">+370&nbsp;&nbsp;676 21&nbsp;&nbsp;123</a></li>
                            <li><a class="phones__item" href="tel:+37064749437">+370 647 49 437</a></li>
                        </ul>
                    </aside>
                    <aside class="contact__emails emails">
                        <ul class="emails__list">
                            <li><a class="emails__item" href="mailto:info@meldgraphics.com">info@meldgraphics.com</a></li>
                        </ul>
                    </aside>
                    <aside class="contact__social-icons social-icons">
                        <ul class="social-icons__list">
                              <li class="social-icons__item"><a href=""></a></li>
                            <li class="social-icons__item"><a href=""></a></li>
                            <li class="social-icons__item"><a href=""></a></li>
                            <li class="social-icons__item"><a href=""></a></li>
                        </ul>
                    </aside>
                </div>
                <hr class="contact__underline">
                <a ng-click="main.scrollTop()" class="contact__go-top">
                    <span>Go to top</span>
                </a>
            </footer>
        </div>
        <!-- build:js /js/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->

        <script src="/js/main.js"></script>

        <script>
            window.onresize = function() {
                console.log(window.innerWidth);
            }
        </script>

    </body>
</html>
