<header class="header">
  <div class="header__video-wrap">
    <div class="header__video-box">
      <img class="header__video header__video-bg" src="img/video-bg_320.jpg" ng-if="vm.resolution == 'mobile' && !vm.retina && vm.mobileDevice" alt="Meldgraphics Design Agency">
      <img class="header__video header__video-bg" src="img/retina/video-bg_320_retina.jpg" ng-if="vm.resolution == 'mobile' && vm.retina && vm.mobileDevice" alt="Meldgraphics Design Agency">
      <img class="header__video header__video-bg" src="img/video-bg_768.jpg" ng-if="vm.resolution == 'tablet' && !vm.retina && vm.mobileDevice" alt="Meldgraphics Design Agency">
      <img class="header__video header__video-bg" src="img/retina/video-bg_768_retina.jpg" ng-if="(vm.resolution == 'tablet' && vm.retina && vm.mobileDevice) || (vm.resolution == 'desktop' && vm.mobileDevice)" alt="Meldgraphics Design Agency">
      <video class="header__video" loop autoplay ng-if="!vm.mobileDevice">
        <source src="video/meldgraphics.mp4" type="video/mp4">
        <source src="video/meldgraphics.webm" type="video/webm">
        <source src="video/meldgraphics.ogg" type="video/ogg">
      </video>
    </div>
  </div>
  <div class="wrapper header__wrapper">
    <h1 class="header__title">Meldgraphics<span class="header__subtitle">Design Agency</span></h1>
    <hr class="header__underline">
    <div class="header__slogan">We design and develop<br>graphical products and brands</div>
    <button ng-click="vm.scrollToSection('.about-us')" class="header__go-next"></button>
  </div>
  <hr class="header__panel-bottom">
</header>
<section id="who-we-are" class="about-us">
  <div class="wrapper">
    <header class="about-us__title animated" data-animation="fadeInUp">Who we are.</header>
    <article class="article">
      <header class="article__title animated" data-animation="fadeInUp">We offer functional solutions.</header>
      <blockquote class="article__quote animated" data-animation="fadeInUp">
        Our passion is creating handsome graphic designs & smart user interface
      </blockquote>
      <section class="article__content">
        <div class="article__column-1 animated" data-animation="fadeInUp">
          <p>Meldgraphics is a Vilnius-based design agency that imagine and build clever products. We're a small team of designers, developers and strategists with a passion for solving problems. Our capabilities include new product design and development, as well as improvements to existing products. We have experience for effective and original solutions. Meldgraphics provides services in high quality branding, web design, app development and online marketing.  </p>
          <p>Our chameleon logo demonstrates ability to find common language with any client. Everyone knows how these interesting animals can change their color adapting to the environment, the same way our team adapts to every new client, trying to establish deep understanding of its objectives, business and ambitions. </p>
        </div>
        <div class="article__column-2 animated" data-compare-element="parent" data-animation-delay="200" data-animation="fadeInUp">
          <p>We take great care to listen our clients and cooperate with them to define requirements, conduct research, quickly prototype and validate ideas. This allows us to focus on what is the best for each individual client and work until we deliver the optimum solution. We believe that strong brands are built through combination of outstandingly brilliant creativity and intelligent brand strategy. We working across creative boundaries, mixing experience with curiosly to solve problems. Everything we create is executed with precision and love. This is what makes us unique. If you are a client with open mind, we will move mountains to work with you.</p>
        </div>
        <aside class="article__sidebar animated" data-compare-element="parent" data-animation-delay="400" data-animation="fadeInUp">
          <blockquote class="article__cite">
            Meldgraphics agency has no fear and always happy to collaborates even with the most demanding clients. We want to guarantee the highest quality in our work because the only discipline that really matters to us is - excellence.
          </blockquote>
          <figure class="article__brain">
            <img src="img/brain_320.png" ng-if="vm.resolution == 'mobile' && !brainAnimateionRun" alt="Brain">
            <img src="img/brain_768.png" ng-if="vm.resolution == 'tablet' && !vm.retina && !brainAnimateionRun" alt="Brain">
            <img src="img/retina/brain_768_retina.png" ng-if="vm.resolution == 'tablet' && vm.retina && !brainAnimateionRun" alt="Brain">
            <img src="img/brain_1280.png" ng-if="vm.resolution == 'desktop' && !vm.retina && !brainAnimateionRun" alt="Brain">
            <img src="img/retina/brain_1280_retina.png" ng-if="vm.resolution == 'desktop' && vm.retina && !brainAnimateionRun" alt="Brain">

            <img src="img/icons/brain_320.gif?{{ vm.cashValue }}" ng-if="vm.resolution == 'mobile' && brainAnimateionRun" alt="Brain">
            <img src="img/icons/brain_768.gif?{{ vm.cashValue }}" ng-if="vm.resolution == 'tablet' && !vm.retina && brainAnimateionRun" alt="Brain">
            <img src="img/icons/brain_768_retina.gif?{{ vm.cashValue }}" ng-if="vm.resolution == 'tablet' && vm.retina && brainAnimateionRun" alt="Brain">
            <img src="img/icons/brain_1280.gif?{{ vm.cashValue }}" ng-if="vm.resolution == 'desktop' && !vm.retina && brainAnimateionRun" alt="Brain">
            <img src="img/icons/brain_1280_retina.gif?{{ vm.cashValue }}" ng-if="vm.resolution == 'desktop' && vm.retina && brainAnimateionRun" alt="Brain">
            <figcaption class="article__brain-title">We have<br><span class="color--blue">ideas for<br> everyone</span></figcaption>
          </figure>
        </aside>
      </section>
    </article>
  </div>
  <div class="about-us__panel-bottom"></div>
</section>
<section id="we-love-what-we-do" class="love-it">
  <div class="love-it__inner">
    <header class="love-it__title">
      We love what we do!
    </header>
  </div>
</section>
<section id="our-services" class="services">
  <div class="wrapper services__panel-top">
    <ul class="services__triangles triangles">
      <li class="triangles__item" ng-class="{ 'triangles__item--start' : !trianglesAnimationRun }"></li>
      <li class="triangles__item" ng-class="{ 'triangles__item--start' : !trianglesAnimationRun }"></li>
      <li class="triangles__item" ng-class="{ 'triangles__item--start' : !trianglesAnimationRun }"></li>
      <li class="triangles__item" ng-class="{ 'triangles__item--start' : !trianglesAnimationRun }"></li>
      <li class="triangles__item" ng-class="{ 'triangles__item--start' : !trianglesAnimationRun }"></li>
    </ul>
  </div>
  <div class="wrapper">
    <header class="services__title animated" data-animation="fadeInUp">Our services.</header>
    <ul class="services__advantages advantages">
      <li class="services__advantage advantages__item animated" data-animation="fadeInUp" data-compare-element="parent">
        <header class="advantages__title">UX/UI DESIGN & DEVELOPMENT</header>
        <p class="advantages__content">We believe that functional needs and emotional response demand equal consideration. Front/back-end experts employ cutting edge technologies to bring our solutions to life.</p>
      </li>
      <li class="services__advantage advantages__item animated" data-animation="fadeInUp" data-animation-delay="200" data-compare-element="parent">
        <header class="advantages__title">PRINT & ILLUSTRATION</header>
        <p class="advantages__content">Graphic design, typography, illustrations and colour theory are part of our DNA. We are able to turn our hand to any creative brand or print service.</p>
      </li>
      <li class="services__advantage advantages__item animated" data-animation="fadeInUp" data-animation-delay="400" data-compare-element="parent">
        <header class="advantages__title">BRANDING & STRATEGY</header>
        <p class="advantages__content">Branding should be an expression of your company's position. Using strategy and thoughtful design, we work closely with our clients to build a brand that is identifiable online and offline. </p>
      </li>
    </ul>
    <ul class="services__features">
      <li class="services__feature animated" ng-class="{ 'services__feature--active': feature.active }" ng-repeat="feature in vm.features" data-animation="fadeInUp" data-compare-element="parent">
        <a class="feature" ng-class="{ 'feature--active': feature.active }" ng-click="vm.setActiveFeature(feature)" data-active="feature.active" data-size="feature.size" data-name="feature.name" data-title="feature.title" data-description="feature.description" data-retina="vm.retina"></a>
      </li>
    </ul>
  </div>
  <div class="services__panel-bottom"></div>
</section>
<section id="how-we-work" class="process">
  <div class="wrapper">
    <header class="process__title animated" data-animation="fadeInUp">How we work.</header>
  </div>
  <div class="wrapper process__wrapper">
    <div class="process__description animated" data-animation="fadeInUp">Client satisfaction is our marketing strategy.&nbsp;<br>We partner with our clients to build their brands over time,&nbsp;<br>building on success and always learning and responding as circumstances change.</div>
    <ul class="process__steps">
      <li class="process__step animated" data-animation="fadeInUp" data-compare-element="parent">
        <img src="img/step-1.png" alt="">
        <div class="process__step-details">
          <header class="process__step-title">INTERVIEW</header>
          <p class="process__step-description">We discuss what you need. We give you our proposal with clear timeframes and cost.</p>
        </div>
      </li>
      <li class="process__step animated" data-animation="fadeInUp" data-compare-element="parent" data-animation-delay="200">
        <img src="img/step-2.png" alt="">
        <div class="process__step-details">
          <header class="process__step-title">PLANNING</header>
          <p class="process__step-description">We start with conversation to understand your needs.</p>
        </div>
      </li>
      <li class="process__step animated" data-animation="fadeInUp" data-compare-element="parent" data-animation-delay="400">
        <img src="img/step-3.png" alt="">
        <div class="process__step-details">
          <header class="process__step-title">DESIGN</header>
          <p class="process__step-description">We design sketch, templates and interactive prototypes.</p>
        </div>
      </li>
      <li class="process__step animated" data-animation="fadeInUp" data-compare-element="parent" data-animation-delay="600">
        <img src="img/step-4.png" alt="">
        <div class="process__step-details">
          <header class="process__step-title">DEVELOP</header>
          <p class="process__step-description">We'll work on the project whilst showing your various prototypes.</p>
        </div>
      </li>
      <li class="process__step animated" data-animation="fadeInUp" data-compare-element="parent" data-animation-delay="800">
        <img src="img/step-5.png" alt="">
        <div class="process__step-details">
          <header class="process__step-title">LAUNCH</header>
          <p class="process__step-description">We launch your project. Time to show the world your new look.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<section id="projects" class="projects">
  <div class="wrapper">
    <header class="projects__title animated" data-animation="fadeInUp">Projects.</header>
  </div>
  <div class="wrapper projects__wrapper">
    <ul class="projects__list">
      <li class="projects__item animated" data-animation="fadeInUp" data-compare-element="parent">
        <figure class="project">
          <img src="img/thumb-1.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">Life Lines</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item animated" data-animation="fadeInUp" data-compare-element="parent" data-animation-delay="300">
        <figure class="project">
          <img src="img/thumb-2.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">Horizon Advisor</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item animated" data-animation="fadeInUp" data-compare-element="parent" data-animation-delay="600">
        <figure class="project">
          <img src="img/thumb-3.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">VegFit</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
    </ul>
    <div class="projects__view-all-container">
      <a class="projects__view-all" ng-href="#portfolio">View all <i class="fa fa-long-arrow-right"></i></a>
    </div>
  </div>
</section>