@include global-reset;

html {
  font-size: $rem-base;
}

body {
	font-family: $proxima;
	font-weight: $light;
	line-height: 1.25;
	background-color: $body-bg;
  padding-top: $nav-height-desktop;
}

p, 
div {
	@include fontsize(20);
	font-family: $proxima;
	font-weight: $light;
	line-height: 1.25;
}

a,
button,
input,
textarea {
  outline: none;
}

p {
	margin: 20px 0;
}

hr {
	margin: 0;
}