$rem-base: 16px !default;


// Text boldness
$extra-bold:			800;
$light:						300;
$semi-bold:				700;


// Fonts
$proxima:					'Proxima Nova';
$proxima-black:		'Proxima Nova black';
$merriweather:		'Merriweather', serif;


// Form elements
$field-height:          50px;
$submit-button-height:  55px;


// Colors
$body-bg:							#fff;

$color-blue:					#81cfd3;
$color-blue-light:		#b5eae8;
$color-grey:					#3a3a4b;
$color-grey-light:    #5a5a64;
$color-grey-lighter:  #d9d9d9;
$color-dark:					#292933;
$color-black:         #000;

$talk-to-us-bg:       #f4f4f4;
$talk-to-us-border:   #a1a1a1;
$upload-file-color:   #7e7e7e;


// Grid
$column:              58px;
$column-wide:         98px;
$column-tablet:       72px;
$column-mobile:       65px;

$padding:             20px;
$padding-mobile:      10px;
$padding-edge:        26px;
$padding-edge-mobile: 15px;


// Navigation heights during different resolutions
$nav-height-desktop:  80px;
$nav-padding-desktop: 23px;
$nav-height-tablet:   55px;
$nav-padding-tablet:  20px;
$nav-height-mobile:   40px;


// Screen resolutions
$desktop-wide:		    1868px; // 1920px
$desktop:					    1228px; // 1280px
$tablet:					    716px; // 768px
$mobile:					    290px; // 320px