<span class="upload-file-field__title">
  <input type="file" name="{{ name }}" accept="{{ '.' + fileTypes.join(',.') }}" ng-if="uploader" nv-file-select uploader="uploader" class="upload-file-field__input">
  Upload files
  <ul class="file-type-list">
    <li class="file-type-list__item" ng-repeat="fileType in fileTypes">{{ fileType + ((!$last) ? '|' : '') }}</li>
  </ul>
</span>
<ul class="file-list">
  <li class="file-list__item" ng-repeat="item in uploader.queue">
    <button class="file-list__remove" ng-click="item.remove()"></button>
    <img class="file-list__type-img" ng-src="img/file-types/{{ selectedFileType }}.png" ng-if="selectedFileType == fileType" alt="{{ fileType }}" ng-repeat="fileType in fileTypes">
    <ul class="file-list__characteristics">
      <li class="file-list__title">{{ item.file.name }}</li>
      <li class="file-list__size">{{ formatBytes(item.file.size, 1) }}</li>
    </ul>
  </li>
</ul>