<!doctype html>
<html class="no-js" lang="en" ng-app="meldgraphics" ng-controller="meldgraphicsCtrl as main">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
        
        

        <link rel="stylesheet" href="/css/main.css">
        <!--<link rel="stylesheet" href="/css/main.min.css">-->

    </head>
    <body scroll ng-class="main.setLang(lang)">
        <nav class="nav" ng-class="{'nav--moved' : showNav, 'nav--grey' : navGrey}">
            <div class="wrapper">
                <a ng-href="#/{{main.lang}}" ng-click="main.scrollTop()" class="nav__logo">
                </a>
                <a ng-click="toggleNav()" class="nav__control"></a>
                <div class="nav__container">
                    <a class="nav__close" ng-click="toggleNav()"></a>
                    <ul class="nav__list">
                        <li><a class="nav__item" ng-href="#/{{lang}}" ng-class="{'nav__item--active': activeSectionClass == '.about-us'}" ng-click="scrollToSection('.about-us')">
                            {{(lang == 'en') ? 'about us' : 'о нас'}}
                        </a></li>
                        <li><a class="nav__item" ng-href="#/{{lang}}" ng-class="{'nav__item--active': activeSectionClass == '.services'}" ng-click="scrollToSection('.services')">
                            {{(lang == 'en') ? 'services' : 'услуги'}}
                        </a></li>
                        <li><a class="nav__item" ng-href="#/{{lang}}" ng-class="{'nav__item--active': activeSectionClass == '.process'}" ng-click="scrollToSection('.process')">
                            {{(lang == 'en') ? 'process' : 'процесс'}}
                        </a></li>
                        <li><a class="nav__item" ng-href="#/{{lang}}" ng-class="{'nav__item--active': activeSectionClass == '.projects'}" ng-click="scrollToSection('.projects')">
                            {{(lang == 'en') ? 'projects' : 'проекты'}}
                        </a></li>
                        <li><a class="nav__item" ng-href="#/{{lang}}" ng-class="{'nav__item--active': activeSectionClass == '.footer'}" ng-click="scrollToSection('.footer')">
                            {{(lang == 'en') ? 'contact' : 'контакты'}}
                        </a></li>
                    </ul>
                    <ul class="nav__lang-list">
                        <li><a class="nav__lang-item" ng-click="main.setLang(lang); onLangChange()" ng-class="{'nav__lang-item--active': lang == 'ru'}" ng-href="#/ru{{ main.getUrlPath() }}">ru</a></li>
                        <li><a class="nav__lang-item" ng-click="main.setLang(lang); onLangChange()" ng-class="{'nav__lang-item--active': lang == 'en'}" ng-href="#/en{{ main.getUrlPath() }}">en</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="wrap-all" ng-class="showNav ? 'document--moved' : ''">

            <div ng-view ng-class="vm.pageClass" autoscroll="true"></div>

            <a ng-href="#/{{lang}}/contact" id="make-order" ng-if="url.indexOf('/contact') == -1">{{(lang == 'en') ? 'Let\'s start working together ' : 'Давайте работать вместе '}}<i class="fa fa-long-arrow-right"></i></a>
            <footer class="footer">
                <div class="wrapper footer__wrapper">
                    <header class="footer__title">{{(lang == 'en') ? 'Contact.' : 'Контакты.'}}</header>
                    <aside class="footer__phones phones">
                        <ul class="phones__list">
                            <li><a class="phones__item" href="tel:+37064749437">+370 647 49 437</a></li>
                            <li><a class="phones__item" href="tel:+37067621123">+370 676 21 123</a></li>
                        </ul>
                    </aside>
                    <aside class="footer__emails emails">
                        <ul class="emails__list">
                            <li><a class="emails__item" href="mailto:info@meldgraphics.com">info@meldgraphics.com</a></li>
                        </ul>
                    </aside>
                    <aside class="footer__social-icons social-icons">
                        <ul class="social-icons__list">
                              <li class="social-icons__item"><a href="https://www.instagram.com/meldgraphics" target="_blank"></a></li>
                            <li class="social-icons__item"><a href="https://www.facebook.com/meldgraphics" target="_blank"></a></li>
                            <li class="social-icons__item"><a href="https://dribbble.com/meldgraphics" target="_blank"></a></li>
                            <li class="social-icons__item"><a href="https://www.behance.net/meldgraphics" target="_blank"></a></li>
                        </ul>
                    </aside>
                </div>
                <hr class="footer__underline">
                <a ng-click="scrollTop()" class="footer__go-top">
                    <span>{{(lang == 'en') ? 'Go to top' : 'Вверх'}}</span>
                </a>
            </footer>
        </div>
        <div class="front-layer" ng-show="frontLayer" ng-style="{zIndex: frontLayerPosition}"></div>
        <script src="/js/vendor.js"></script>

        <script>
              window.onresize = function() {
                       console.log(window.innerWidth);
                   }
        </script>

        <script src="/js/main.js"></script>
        <!--<script src="/js/main.min.js"></script>-->

    </body>
</html>
