@include block('about-us') {

  @include element('title') {
    color: $section-header;
    border-color: $section-line !important;
  }
}

@include block('article') {

  p {
    color: $article-content;
  }

  @include element('title') {
    color: $article-header;
  }

  @include element('quote') {
    color: $article-content;
  }
}

@include block('brain') {

  @include element('title') {
    color: $article-cite;
  }

  @include element('panel-bottom') {
    background-color: $article-panel;
  }
}