@include block('projects') {

  @include element('view-all') {
    background-color: $color-blue;
    color: $button-text;
  }
}

@include block('project') {

  @include element('title') {
    background-color: rgba($project-title, .7);
  }

  @include element('view') {
    background-color: $color-blue;
    color: $button-text;
  }

  @include element('description') {
    color: $button-text;
  }
}

#make-order {
  color: $button-text;
  background-color: $button-blue;
}

.fa-long-arrow-right {
  background: url(../img/view-all.png) right center no-repeat;
}