@include block('services') {

  @include element('feature-image') {
    background-position: center bottom;
  }

  @include element('feature-title') {
    color: $color-dark;
  }
}

@include block('feature') {

  @include element('description-item') {
    color: $nav-bg;
  }
}

@include block('triangles') {

  @include element('item') {

    &:nth-child(1) {
      background-color: $color-dark;
    }

    &:nth-child(2) {
      background-color: $color-grey;
    }

    &:nth-child(3),
    &:nth-child(5) {
      background-color: $color-blue;
    }

    &:nth-child(4) {
      background-color: $color-blue-light;
    }
  }
}

@include block('advantages') {

  @include element('item') {
    color: $article-content;
  }
}