$nav-bg:							#fff;
$nav-item:						#292933;
$nav-border:          #59595f;

$header-text:					#fff;
$header-line:					#81cfd3;
$header-bg:						#5c5c65;
$header-border:				#45454c;

$section-header:			#81cfd3;
$section-line:				#a1a1a1;

$article-header:			#292933;
$article-content:			#7e7e7e;
$article-cite:				#292933;
$article-panel:				#f4f4f4;

$love-it-bg:					#4a4a54;
$love-it-text:				#fff;

$process-text:				#9c9c9c;
$process-step:				#7c7c7d;
$process-order:				#8bd3d6;

$button-blue:					#8bd3d6;
$button-text:					#fff;

$contact-text:				#fff;

$project-view-hover:	#202027;
$project-title:				#3b3b44;