@include block('ru') {
  font-family: $opensans;
  font-weight: $light;

  p,
  div {
    font-family: $opensans;
    font-weight: $light;
  }

  .header__title {
    font-family: $proxima;
  }

  .nav__item,
  .nav__lang-item {
    @include fontsize(17);
  }

  .about-us__title,
  .services__title,
  .process__title,
  .projects__title {
    font-family: $gotham-black;
  }

  .header__slogan,
  .header__subtitle,
  .article__title{
    font-family: $gotham;
    font-weight: $medium;
  }

  .brain__panel-bottom {

    @include breakpoint($desktop-wide-min-width) {
      margin-top: -77px;
    }
  }

  .article__title {
    @include fontsize(35);

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(40);
      letter-spacing: -0.07em;
    }
  }

  .article__quote {
    @include fontsize(20);
    @include span(6 of 12 wide);
  }

  .article__column-1,
  .article__column-2 {

    p {
      @include fontsize(18);

      @include breakpoint($desktop-wide-min-width) {
        line-height: 1.4;
      }
    }
  }

  .article__cite {
    @include fontsize(16);

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(18);
    }
  }

  .brain__title {
    @include fontsize(28);
  }

  .header__slogan {
    @include fontsize(28);
    font-weight: $light;
  }

  .header__subtitle {
    @include fontsize(80);
    letter-spacing: -0.09em;
  }

  .love-it__title {
    font-family: $gotham;
    @include fontsize(34);
    font-weight: $medium;

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(48);
    }
  }

  .advantages__title {
    font-family: $opensans;
    font-weight: $semi-bold;
    @include fontsize(20);
  }

  .advantages__content {
    font-family: $opensans;
    @include fontsize(17);
    font-weight: $light;

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(18);
    }
  }

  .advantages__item {

    &:nth-child(1),
    &:nth-child(3) {
      width: percentage(415px / ($desktop-wide - $column-wide*2));
    }

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      margin: 0 percentage(200px / ($desktop-wide - $column-wide*2));
      width: percentage(425px / ($desktop-wide - $column-wide*2));
    }

    &:nth-child(3) {
      text-align: right;
    }
  }

  .services__feature-title {
    font-weight: $semi-bold;
    @include fontsize(18);
  }

  .process__description {
    font-family: $opensans;
    @include fontsize(18);
    font-weight: $light;
  }

  .process__step-title {
    font-family: $opensans;
    @include fontsize(15);
    font-weight: $semi-bold;

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(17);
    }
  }

  .process__step-description {
    font-family: $opensans;
    @include fontsize(15);
    font-weight: normal;

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(17);
    }
  }

  .project__title {

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(24);
    }
  }

  .project__view {
    font-family: $opensans;
    @include fontsize(16);
    font-weight: $light;

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(22);
    }
  }

  .projects__view-all {
    font-family: $opensans;
    @include fontsize(20);
    font-weight: $light;

    @include breakpoint($desktop-wide-min-width) {
      @include fontsize(22);
    }
  }

  #make-order {
    font-family: $opensans;
    @include fontsize(22);
    font-weight: $light;
  }

  .feature__description-item {
    font-family: $opensans;
    @include fontsize(15);
    font-weight: $light;
  }
}