@include block('about-us') {
	overflow-x: hidden;

	@include element('title') {
		@include span(14 wider);
		@include center-block;
		float: none;
		border-bottom: 1px solid;
		text-align: center;
		@include fontsize(60);
		font-weight: $extra-bold;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding-top: 80px;
	}
}