@include block('contact') {
  padding-top: 60px;

  @include element('title') {
    @extend .about-us__title;
  }

  @include element('description') {
    @include fontsize(25);
    text-align: center;
    margin-top: 33px;
    margin-bottom: 72px;
  }
}