@include block('header') {
	padding-bottom: 3px;
  position: relative;
  overflow: hidden;

	@include element('title') {
		line-height: .9;
		@include fontsize(92);
		font-weight: $extra-bold;
		text-transform: uppercase;
		letter-spacing: .027em;
		padding-top: 220px;
		margin-bottom: 95px;
		text-align: center;
	}
  
  @include element('wrapper') {
    position: relative;
    z-index: 222;
  }
  
  @include element('video-wrap') {
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    
    &:before {
      position: absolute;
      top: 0;
      @include size(100%, 100%);
      left: 0;
      z-index: 111;
      content: " ";
      display: block;
    }
  }
  
  @include element('video-box') {
    position: absolute;
    top:0;
    left: 50%;
		@include size(100%, 100%);
  }
  
  @include element('video') {
    display: inline-block;
    transform: translateX(-50%);
    width: 100%;
  }

	@include element('subtitle') {
		@include fontsize(90);
		display: block;
		font-weight: $semi-bold;
		letter-spacing: .035em;
	}

	@include element('underline') {
		@include break;
		@include size(percentage(220px / $desktop), 4px);
		border: none;
		@include center-block;
		margin-bottom: 90px;
	}

	@include element('slogan') {
		text-align: center;
		@include fontsize(30);

	}

	@include element('go-next') {
		@include size(118px, 52px);
		@include center-block;
		margin-top: 115px;
		margin-bottom: 105px;
		border: none;
		padding: 0;
		cursor: pointer;
		@include opacity(.5);
	}

	@include element('panel-bottom') {
		@include size(100%, 1px);
		border: none;
	}
}