@include block('projects') {
  @extend %clearfix;
	
	@include element('title') {
		@extend .process__title;
	}

	@include element('list') {
		margin-top: 70px;
		@extend %clearfix;
		@include pre(-1%);
		@include post(1%);
	}
	
	@include element('item') {

		&:nth-child(3n + 1) {
			@include span(4 at 2 wider);
			clear: both;
		}

		&:nth-child(3n + 2) {
			@include span(4 at 7 wider);
		}

		&:nth-child(3n + 3) {
			@include span(4 at 12 wider);
		}
	}

	@include element('view-all') {
		@include span(4 at 7 wider);
		@include break;
		text-align: center;
		height: 72px;
		line-height: 72px;
		@include fontsize(25);
		margin-top: 90px;
		margin-bottom: 90px;
		cursor: pointer;
		text-decoration: none;

	}

}

#make-order {
	@include size(100%, 100px);
	text-align: center;
	@include fontsize(24);
	line-height: 100px;
	display: block;
	cursor: pointer;
	text-decoration: none;
}