@include block('services') {
	overflow: hidden;

	@include element('panel-top') {
		margin-bottom: 25px;
	}

	@include element('title') {
		@include break;
		@extend .about-us__title;
	}

	@include element('features') {
		@include fontsize(0);
		margin-bottom: 110px;
	}

	@include element('feature') {
		@include size(percentage(($desktop / 6) / $desktop), 229px);
		position: relative;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}

	@include element('feature-image') {
		@include size(143px, 150px);
		@include center-block;
	}

	@include element('feature-title') {
		text-transform: uppercase;
		@include fontsize(20);
		font-weight: $semi-bold;
		padding-top: 20px;
	}

	@include element('panel-bottom') {
		height: rem-calc(480);
	}
}