@include block('categories') {
  @include span(14 at 2 wider);
  margin-bottom: 40px;
  margin-top: 59px;

  @include element('list') {
    @include pre(-1%);
    @include post(1%);
  }
  
  @include element('item-wrap') {
    display: inline-block;
  }

  @include element('item') {
    text-decoration: none;
    @include fontsize(18);
    text-transform: uppercase;
    margin-right: rem-calc(30);
    cursor: pointer;
  }
}