@include block('checkbox') {

  @include element('field') {
    display: none;
  }

  @include element('label') {
    @include fontsize(20);
  }

  @include element('icon') {
    @include size(22px, 19px);
    position: relative;
    float: left;
    margin-right: 17px;

    &:after,
    &:before {
      @include size(100%, 100%);
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
    }

    &:after {
      @include opacity(0);
    }

    &:before {
      z-index: 111;
      @include opacity(1);
    }
  }
}