@include block('dropdown-choose-list') {
  padding-top: 32px;
  padding-bottom: 58px;

  @include element('title') {
    @include span(5.1 of 6);
    height: $field-height;
    line-height: $field-height;
    padding: 0 14px;
    @include fontsize(22);
    position: relative;
    @include radius(5px);
    cursor: pointer;
  }

  @include element('sign') {
    @include size(18px, 18px);
    float: right;
    position: absolute;
    right: 20px;
    top: 50%;
    @include translateY(-50%);
  }

  @include element('list') {
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    @include break;
    @include box-sizing('border-box');
    overflow: hidden;
    max-height: 0;
  }

  @include element('sublist') {
    margin-top: 22px;
  }

  @include element('item') {
    font-weight: $extra-bold;
    padding-top: 10px;
  }

  @include element('subitem') {
    font-weight: $light;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}