@include block('file-list') {
  padding-top: 34px;
  @include break;

  @include element('remove') {
    @include size(32px, 31px);
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    cursor: pointer;
  }

  @include element('item') {
    margin-bottom: 22px;
  }

  @include element('characteristics') {
    display: inline-block;
  }

  @include element('type-img') {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  @include element('title') {
    @include fontsize(14);
    display: block;
  }

  @include element('size') {
    @extend .file-list__title;
  }
}