@include block('contact') {
	background-color: $color-dark;

	@include element('title') {
		color: $contact-text;
		margin-top: 25px;
		padding-top: 25px;
		margin-bottom: 25px;
		padding-bottom: 25px;
		border-right: 1px solid $section-line;
		@include fontsize(40);
		font-weight: $extra-bold;
		text-transform: uppercase;

		@include span(3 at 2 wider);
	}

	@include element('underline') {
		background-color: $section-line;
		border: none;
		@include size(100%, 1px);
		margin: 0;
	}

	@include element('go-top') {
		text-align: center;
		color: $contact-text;
		@include size(100%, 105px);
		text-decoration: none;
		display: block;
		padding-top: 56px;
		@include box-sizing('border-box');
		background: url(../img/go-top.png) center 26px no-repeat;
		@include fontsize(18);
		font-weight: normal;
		font-family: $merriweather;
		@include hover(.2s);
		@include transition-property(background-color, color);

		&:hover {
			background-color: $project-view-hover;
			color: $button-blue;
		}
	}

}

@include block('phones') {
	@include span(3 at 6 wider);
	margin-top: 25px;

	@include element('item') {
		color: $contact-text;
		text-decoration: none;
		@include fontsize(25);
		margin-top: 15px;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}
}

@include block('emails') {
	@include span(4 at 9);	
	margin-top: 70px;

	@include element('item') {
		@extend .phones__item;
	}
}

@include block('social-icons') {
	@include span(3 at 13);
	margin-top: 68px;

	@include element('item') {
		display: inline-block;
		width: 23%;

		a {
			display: block;
			@include size(100%, 47px);
		}

		&:nth-child(1) {
			a {
				background: url(../img/social-icon-1.png) center center no-repeat;
				@include background-size(100% auto);
			}	
		}

		&:nth-child(2) {
			a {
				background: url(../img/social-icon-2.png) center center no-repeat;
				@include background-size(100% auto);
			}	
		}

		&:nth-child(3) {
			a {
				background: url(../img/social-icon-3.png) center center no-repeat;
				@include background-size(100% auto);
			}	
		}

		&:nth-child(4) {
			a {
				background: url(../img/social-icon-4.png) center center no-repeat;
				@include background-size(100% auto);
			}	
		}
	}

}