@include block('front-layer') {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/downloading-icon.gif) center center no-repeat $body-bg;
  z-index: 888;

  &.ng-hide-add {
    @include opacity(1);

    @include hover(.5s);
    @include transition-property(opacity);
  }

  &.ng-hide-add-active{
    @include opacity(0);
  }
}