@include block('info') {
  @include span(7 at 2);

  @include element('title') {
    @include fontsize(25);
    font-weight: $semi-bold;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  @include element('required') {
    font-weight: $semi-bold;
  }

  @include element('subtitle') {
    @include fontsize(22);
    padding-bottom: 5px;
    display: block;
  }

  @include element('field') {
    @include radius(5px);
    @include break;
    border: 1px solid;
    @include fontsize(20);
    font-family: $proxima;
    font-weight: $light;
    @include span(6.5 of 7);
    height: $field-height;
    line-height: $field-height;
    padding: 0 12px;
    @include box-sizing('border-box');
    margin-bottom: $select-field-bottom-offset;
  }

  @include element('textarea') {
    @extend .info__field;
    height: 278px;
    resize: none;
    display: block;
    padding-top: 12px;
    line-height: 1.3;
  }
}