@include block('nav') {
	height: $nav-height-desktop;
	position: relative;
	padding-top: $nav-padding-desktop;
	@include box-sizing(border-box);
  position: fixed;
  z-index: 555;
  top: 0;
  left: 0;
  right: 0;
	
	li {
		list-style-type: none;
		display: inline-block;
		text-decoration: none;
	}

	a {
		text-decoration: none;
	}

	@include element('close') {
		@include size(45px, 45px);
		@include opacity(.6);
		float: right;
		margin: 5px;
		display: none;
		cursor: pointer;
	}

	@include element('control') {
		@include size(45px, 45px);
		float: right;
		margin-top: -16px;
		display: none;
    cursor: pointer;
	}

	@include element('container') {
		float: right;
		margin-right: percentage(21px / $desktop);
	}

	@include element('logo') {
		float: left;
		@include size(120px, 120px);
		margin: -3px 0 -100px percentage(70px / $desktop);
	}

	@include element('list') {
		display: inline;
	}

	@include element('lang-list') {
		display: inline;
		@include fontsize(0);
	}

	@include element('item') {
		line-height: 37px;
		height: 35px;
		text-align: center;
		display: block;
		margin: 0 rem-calc(12);
		padding: 0 rem-calc(12);
		@include fontsize(18);
    cursor: pointer;
	}

	@include element('lang-item') {
		@extend .nav__item;
		width: 37px;
		@include fontsize(16);
		text-transform: uppercase;
		padding: 0;
		margin: 0;
	}
}