$option-height: 34px;
$select-field-bottom-offset: 38px;

@include block('select-field') {
  height: $field-height;
  position: relative;
  @include span(6.5 of 7);
  margin-bottom: $select-field-bottom-offset;

  @include element('placeholder') {
    @extend .info__field;
    cursor: pointer;
    margin-right: 0 !important;
    width: 100% !important;
  }

  @include element('arrow') {
    float: right;
    @include size(16px, 8px);
    margin: 23px 8px 0;
    @include rotateX(0deg);
  }

  @include element('list') {
    border: 0px solid;
    @include radius(5px);
    @include box-sizing('border-box');
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 5px;
    z-index: 222;
    max-height: 0;
    overflow: hidden;
    padding: 0;
  }

  @include element('item') {
    padding: 0 37px;
    height: $option-height;
    line-height: $option-height;
    @include fontsize(22);
    cursor: pointer;
  }
}