<section class="portfolio">
  <div class="wrapper">
    <header class="projects__title">Projects</header>
    <div class="categories">
      <ul class="categories__list">
        <li class="categories__item-wrap"><a href="/" class="categories__item categories__item--active">All</a></li>
        <li class="categories__item-wrap"><a href="/" class="categories__item">Branding</a></li>
        <li class="categories__item-wrap"><a href="/" class="categories__item">Design UI/UX</a></li>
        <li class="categories__item-wrap"><a href="/" class="categories__item">Pring design & illustration</a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper projects__wrapper">
    <ul class="projects__list">
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-1.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">Life Lines</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-2.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">Horizon Advisor</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-3.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">VegFit</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-1.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">Life Lines</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-2.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">Horizon Advisor</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-3.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">VegFit</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-1.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">Life Lines</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-2.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">Horizon Advisor</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
      <li class="projects__item">
        <figure class="project">
          <img src="img/thumb-3.jpg" class="project__thumb" title="" alt="">
          <figcaption class="project__description">
            <span class="project__title">VegFit</span>
            <a href="" class="project__view">View work <i class="fa fa-long-arrow-right"></i></a>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>