%transition-background-color {
	@include hover(.2s);
	@include transition-property(background-color);
}

.wrapper {
  
  // from 769px to 1919px
	@include breakpoint($desktop-min-width $desktop-max-width) {
		min-width: $tablet;
	}
}

@include block('header') {
  
  @include element('go-next') {
    @include hover(.2s);
    @include transition-property(opacity);

    &:hover {
      @include opacity(1);
    }  
  }
}

#make-order {
	@extend %transition-background-color;

	&:hover {
		background-color: $project-view-hover;
	}
}

@include block('document') {
  margin-right: 0;
  
  @include modifier('moved') {
    transform: translate3d(-$nav-offset, 0, 0);
    
    @include breakpoint($mobile-min-width $mobile-max-width) {
      transform: translate3d(-$nav-offset-mobile, 0, 0);
    }
    
    &-add {
      @include transition-property(transform);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in);
    }

    &-add-active {
      transform: translate3d(-$nav-offset, 0, 0);
      
      @include breakpoint($mobile-min-width $mobile-max-width) {
        transform: translate3d(-$nav-offset-mobile, 0, 0);
      }
    }
    
    &-remove {
      @include transition-property(transform);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in);
    }
    
    &-remove-active {
      transform: translate3d(0, 0, 0);
    }
  }
}

@include block('services') {
  
  @include element('panel-top') {
    
    // from 200px to 1919px
    @include breakpoint($desktop-min-width $desktop-max-width) {
      @include container($desktop);
    }
    
    // from 200px to 1279px
    @include breakpoint($desktop-min-width $desktop-middle-width) {
      @include container($tablet);
    }
  }
}

@include block('projects') {

	@include element('view-all') {
		@extend %transition-background-color;

		&:hover {
			background-color: $project-view-hover;
		}
	}

}

@include block('project') {

	@include element('view') {
		@extend %transition-background-color;

		&:hover {
			background-color: $project-view-hover;
		}
	}

}

@include block('contact') {

	@include element('go-top') {
		@include hover(.2s);
		@include transition-property(background-color, color);

		&:hover {
			background-color: $project-view-hover;
			color: $button-blue;
		}
	}

}

@include block('phones') {

	@include element('item') {

		&:hover {
			text-decoration: underline;
		}
	}
}

@include block('nav') {
  @include transition-property(background-color, height, padding-top);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in);
  
  @include element('logo') {
    @include transition-property(margin-top);
    @include transition-duration(.2s);
    @include transition-timing-function(ease-in);
  }

  @include modifier('grey') {
    background-color: $color-dark;
    height: 75px;
    padding-top: 20px;

    @include breakpoint($tablet-min-width $tablet-max-width) {
      height: $nav-height-tablet;
      padding-top: 30px;
    }

    @include breakpoint($mobile-min-width $mobile-max-width) {
      height: $nav-height-mobile;
      padding-top: 30px;
    }

    .nav__item {
      background-color: $color-dark;
      color: $body-bg;

      &.nav__item--active {
        color: $color-blue;
      }
    }

    .nav__lang-item--active {
      background-color: $color-blue;
    }

    .nav__logo {

      @include breakpoint($desktop-min-width) {
        margin-top: -20px;
      }
    }
  }

	@include element('item') {

		@include hover(.2s);
		@include transition-property(color, background-color, border-color);
    @include transition-timing-function(ease-in);

		@include modifier('active') {
			color: $color-blue;
		}

		&:hover {
			color: $color-blue;
		}

	}

	@include element('control') {
		@include hover(.2s);
		@include transition-property(opacity);

		&:hover {
			@include opacity(.8);
		}
	}

	@include element('close') {
		@include hover(.2s);
		@include transition-property(opacity, background-color);

		&:hover {
			@include opacity(1);
			background-color: $color-black;
		}
	}

	@include element('lang-item') {

		@include modifier('active') {
			color: $nav-bg;
			background-color: $nav-item;
		}

		&:hover {
			color: $nav-bg;
			background-color: $color-blue;
		}
	}

}