// from 200px to 768px
@include breakpoint($mobile-min-width $tablet-max-width) {

  @include layout($tablet-layout);

  body {

    @include block('nav') {

      li {
        display: block;
        width: 100%;
      }

      @include element('list') {
        display: block;
        margin: 0;
        padding-left: 30px;
        @include break;
      }

      @include element('item') {
        text-transform: uppercase;
        @include fontsize(16);
        padding: 25px 0 0 5px;
        border-bottom: solid 1px $nav-border;
        text-align: left;
        background-color: $color-dark;
        color: $nav-bg;
        margin: 0;

        @include modifier('active') {
          color: $color-blue;
        }

        &:hover {
          border-color: $nav-bg;
        }
      }
      
      @include modifier('moved') {
        transform: translate3d(-$nav-offset, 0, 0);
    
        @include breakpoint($mobile-min-width $mobile-max-width) {
          transform: translate3d(-$nav-offset-mobile, 0, 0);
        }

        &-add {
          @include transition-property(transform);
          @include transition-duration(0.3s);
          @include transition-timing-function(ease-in);
        }

        &-add-active {
          transform: translate3d(-$nav-offset, 0, 0);
    
          @include breakpoint($mobile-min-width $mobile-max-width) {
            transform: translate3d(-$nav-offset-mobile, 0, 0);
          }
        }

        &-remove {
          @include transition-property(transform);
          @include transition-duration(0.3s);
          @include transition-timing-function(ease-in);
        }

        &-remove-active {
          transform: translate3d(0, 0, 0);
    
          @include breakpoint($mobile-min-width $mobile-max-width) {
            transform: translate3d(0, 0, 0);
          }
        }
      }

      @include modifier('grey') {

        .nav__control {
          background-image: url(../img/nav-control-scroll.png);

          @include breakpoint($mobile-min-width $mobile-max-width) {
            background-image: url(../img/nav-control-mobile-scroll.png);
          }
        }
      }
      
      @include element('lang-list') {
        @include break;
        float: right;
        margin: 15px;
      }

      @include element('lang-item') {
        padding: 0;
        border: none;
        text-align: center;

        @include modifier('active') {
          background-color: $color-blue;
        }
      }

      @include element('container') {
        float: none;
        position: fixed;
        right: -$nav-offset;
        top: 0;
        z-index: 333;
        background-color: $color-dark;
        width: $nav-offset;
        height: 100000px;        
      }

      @include element('control') {
        display: block;
      }

      @include element('close') {
        display: block;
      }
    }
  }
}