$make-order-height: 80px;
$figure-size: 50px;
$mobile-container: $mobile - $column-mobile - $padding-mobile;
$step-size: 91px;
$view-all-height: 56px;
$categories-item-height: 30px;
$submit-button-height: 60px;

// from 200px to 767px
@import "mobile/200-767";

// from 200px to 645px
@import "mobile/200-645";

// from 200px to 550px
@import "mobile/200-550";

// from 200px to 320px
@import "mobile/200-320";