$make-order-height: 80px;
$figure-size: 68px;
$mobile-container: $mobile - $column-mobile - $padding-mobile;
$step-size: 91px;
$view-all-height: 56px;
$categories-item-height: 30px;

// from 200px to 767px
@include breakpoint($mobile-min-width $tablet-max-width - 1) {
  
  @include layout($mobile-layout);

  body {
    
    @include block('header') {

      @include element('title') {
        @include fontsize(32);
        padding-top: 100px;
        margin-bottom: 41px;
      }

      @include element('subtitle') {
        @include fontsize(31);
        padding-top: 16px;
        letter-spacing: .045em;
      }

      @include element('underline') {
        @include size(percentage(85px / $mobile), 2px);
        margin-bottom: 41px;
      }

      @include element('slogan') {
        @include fontsize(18);
      }

      @include element('go-next') {
        background: url(../img/go-next-mobile.png) center center no-repeat;
        @include size(70px, 42px);
        margin-top: 56px;
        margin-bottom: 30px;
      }
    }
    
    @include block('about-us') {
      
      @include element('title') {
        width: auto;
        float: none;
        @include squish($padding-mobile/$column-mobile);
      }
    }
    
    @include block('services') {
      
      @include element('panel-top') {
        @include container($mobile);
      }
      
      @include element('triangles') {
        @include post(percentage(-$padding-edge-mobile / $mobile));
      }

      @include element('squares') {
        @include post(percentage(-$padding-edge-mobile / $mobile));
      }

      @include element('square') {
        margin-right: percentage(($figure-size / 2) / $mobile);
        margin-top: -($figure-size / 2);
      }

      @include element('triangle') {
        @include size(percentage($figure-size / $mobile), ($figure-size / 2));
      }

      @include element('square') {
        @include size(percentage($figure-size / $mobile), $figure-size);
      }
    }
    
    @include block('project') {
      
      @include element('thumb') {
        width: 99.8%
      }
      
      @include element('view') {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
      }
    }
    
    @include block('footer') {
      text-align: center;
      
      @include element('wrapper') {
        @include container($mobile); 
      }

      @include element('title') {
        @include break;
        @include fontsize(30);
        margin: 0;
        width: 100%;
        border: none;
        padding-top: 38px;
        padding-bottom: 16px;
      }

      @include element('go-top') {
        @include fontsize(12);
        background-image: url(../img/go-top-mobile.png);
        background-position: center 14px;
        height: 60px;
        padding-top: 30px;
      }
    }

    @include block('social-icons') {
      @include break;
      @include span(3);
      @include center-block;
      margin-top: 0;
      margin-bottom: 20px;
      float: none;

      @include element('list') {
        margin-left: -3%;
      }

      @include element('item') {
        @include fontsize(19);
      }
    }

    @include block('phones') {
      @include break;
      @include span(3 at 2);
      margin-top: 0;
      text-align: left;

      @include element('item') {
        @include fontsize(19);
        margin-top: 5px;
      }
    }

    @include block('emails') {
      @include break;
      margin: 20px 0 33px;
      width: 100%;

      @include element('item') {
        @include fontsize(19);
      }
    }

    @include block('categories') {
      @include squish($padding-mobile/$column-mobile);
      width: auto;
    }
  }
}

// from 200px to 645px
@include breakpoint($mobile-min-width $tablet-interim-width - 1) {

  body {

    @include block('portfolio') {
      padding-top: 37px;

      .project__title {
        padding-left: 12px;
        padding-right: 12px;
      }

      .projects__list {
        @include squish($padding-mobile/$column-mobile);
        margin-top: 25px;
        margin-bottom: 25px;
      }

      .projects__item:nth-child(n) {
        margin-top: 0;
        margin-bottom: 35px;
      }
    }

    @include block('categories') {
      float: none;
      margin-top: 27px;
      margin-bottom: 0;

      @include element('list') {
        margin: 0;
      }

      @include element('item-wrap') {
        clear: both;
        display: block;
      }

      @include element('item') {
        @include radius(2px);
        height: $categories-item-height;
        line-height: $categories-item-height + 4;
        @include fontsize(14);
        padding: 0 8px;
        margin: 1px 0 0 0;
        display: block;
        @include hover(.2s);
        @include transition-property(color, background-color);

        &:hover {
          background-color: $color-blue;
          color: $body-bg;
        }

        @include modifier('active') {
          background-color: $color-blue;
          color: $body-bg;
        }
      }
    }
  }
}

// from 200px to 550px
@include breakpoint($mobile-min-width $tablet-middle-width) {
  
  @include layout($mobile-layout);
  
  body {
    
    @include block('about-us') {

      @include element('title') {
        @include span(4);
        @include fontsize(28);
        border-bottom-color: $color-grey-lighter;
        padding-bottom: 6px;
        padding-top: 38px;
        width: auto;
        float: none;
        @include squish($padding-mobile/$column-mobile);
      }

      @include element('panel-bottom') {
        @include size(100%, 65px);
        margin-top: -57px;
      }
      
      .wrapper {
        @extend %clearfix;
      }
    }

    @include block('article') {
      @include span(4);
      @include pad(percentage(13px / $mobile));

      @include element('content') {
        padding-top: 3px;
      }

      @include element('title') {
        @include fontsize(22);
        width: 100%;
        margin-top: 13px;
      }

      @include element('quote') {
        @include fontsize(16);
        width: 100%;
        line-height: 1.4;
      }

      @include element('column-1') {
        @include break;
        padding: 0;
        width: 100%;
      }

      @include element('column-2') {
        @include break;
        padding: 0;
        width: 100%;
        margin: 0;

        p {
          margin: 0;
        }
      }

      p {
        @include fontsize(14);
        line-height: 1.5;
      }

      @include element('sidebar') {
        @include pad(percentage(24px / $mobile));
        @include break;
        @include box-sizing('border-box');
        width: 100%;
        margin: 0;
      }

      @include element('cite') {
        @include fontsize(12);
        padding: 0;
        line-height: 1.8;
        margin-top: 20px;
      }

      @include element('brain') {
        margin-top: 18px;

        img {
          @include size(147px, auto);
        }
      }

      @include element('brain-title') {
        @include fontsize(20);
      }
    }

    @include block('love-it') {
      height: 120px;

      @include element('inner') {
        @include fontsize(20);
      }
    }
    
    @include block('services') {
      
      @include element('features') {
        margin: 0;
      }

      @include element('feature') {
        @include break;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
      }
      
      @include element('panel-bottom') {
        @include background-size(130%, auto);
        background-position: center center;
        height: rem-calc(250);
      }
    }
    
    @include block('advantages') {
      margin: 0;
      width: 100%;

      @include element('item') {
        @include break;
        @include pad(percentage(32px / $mobile));
        @include box-sizing('border-box');

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          width: 100%;
          margin: 0;
        }
      }

      @include element('title') {
        @include fontsize(14);
        margin-top: 12px;
      }

      @include element('content') {
        @include fontsize(14);
        line-height: 1.5;
        margin: 8px 0 23px;
      }
    }
    
    @include block('process') {

      @include element('wrapper') {
        @include container($mobile);
      }
      
      @include element('description') {
        @include break;
        @include fontsize(14);
        margin: 0;
        width: 100%;
        line-height: 1.5;

        br {
          display: none;
        }
      }

      @include element('steps') {
        background: none;
        margin: 0 0 6px 0;
      }

      @include element('step') {
        @include break;
        text-align: left;

        img {
          @include size(39px, auto);
          margin-left: percentage(134px / $mobile);
          display: block;
        }

        &:before {
          content: " ";
          float: left;
          background: url(../img/step-number-bg.png) center center no-repeat;
          text-align: center;
          @include size($step-size, $step-size);
          line-height: $step-size;
          @include fontsize(19);
          color: $color-blue;
          font-family: $proxima;
          font-weight: $extra-bold;
          margin-top: 20px;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){
          margin: 28px 0 0 0;
          width: 100%;
        }

        &:nth-child(1) {

          &:before {
            content: "1";
          }
        }

        &:nth-child(2) {

          &:before {
            content: "2";
          }
        }

        &:nth-child(3) {

          &:before {
            content: "3";
          }

          img {
            width: 56px;
          }
        }

        &:nth-child(4) {

          &:before {
            content: "4";
          }
        }

        &:nth-child(5) {

          &:before {
            content: "5";
          }
        }
      }

      @include element('step-title') {
        @include fontsize(14);
      }

      @include element('step-description') {
        @include fontsize(12);
        line-height: 1.5;
        margin: 0;
      }

      @include element('step-details') {
        margin-left: percentage(134px / $mobile);
      }
    }
    
    @include block('projects') {

      @include element('wrapper') {
        @include container($mobile);
      }
      
      @include element('title') {
        margin-bottom: 0;
      }

      @include element('list') {
        @include break;
        margin: 0;
      }

      @include element('item') {
        
        &:nth-child(3n + 1),
        &:nth-child(3n + 2),
        &:nth-child(3n) {
          @include size(100%, auto);
          margin: 35px 0 0 0;
          padding: 0;
        }
      }

      @include element('view-all') {
        @include size(100%, $view-all-height);
        margin: 45px 0;
        line-height: $view-all-height;
        @include fontsize(19);

        .fa-long-arrow-right {
          @include size(19px, 9px);
          background: url(../img/view-all-mobile-large.png) center center no-repeat;
        }
      }

    }

    @include block('project') {

      @include element('description') {
        height: 45px;
      }

      @include element('title') {
        @include fontsize(16);
        padding: 14px 27px 0 27px;
      }

      @include element('view') {
        @include fontsize(16);
        padding: 14px 0 0 0;
        text-align: center;

        .fa-long-arrow-right {
          @include size(12px, 7px);
          background: url(../img/view-all-mobile.png) center center no-repeat;
        }
      }

      @include element('thumb') {
        @include background-size(100%, 100%);
      }
    }

    @include block('portfolio') {

      .projects__list {
        margin-bottom: 0;
      }
    }

    @include block('contact') {

    }
  }
}

// from 200px to 320px
@include breakpoint($mobile-min-width $mobile-max-width) {

  @include layout($mobile-layout);

  body {
    padding-top: $nav-height-mobile;

    .wrapper {
      @include container($mobile);
    }

    @include block('nav') {
      height: $nav-height-mobile;

      @include element('logo') {
        @include size(73px, 73px);
        margin-left: 2px;
        margin-top: -17px;
      }

      @include element('control') {
        background-image: url(../img/nav-control-mobile.png);
      }

      @include element('close') {
        background-image: url(../img/nav-close-mobile.png);
        margin: 2px 5px -14px;
        position: relative;
      }

      @include element('container') {
        width: $nav-offset-mobile;
        right: -$nav-offset-mobile;
      }

      @include element('control') {
        margin-top: -26px;
      }

      @include element('item') {
        @include fontsize(14);
        padding-top: 30px !important;
      }

      @include element('lang-item') {
        padding: 0;
      }

    }

    @include block('services') {

      @include element('title') {
        padding-top: 28px;
      }
    }

    #make-order {
      height: $make-order-height;
      line-height: $make-order-height;
      @include fontsize(19);

      .fa-long-arrow-right {
        @include size(19px, 9px);
        background: url(../img/view-all-mobile-large.png) center center no-repeat;
      }
    }
  }
}