$figure-size: 115px;
$tablet-container: $tablet - $column-tablet - $padding;
$step: 160px;
$submit-button-height: 55px;

// from 321px to 1279px
@import "tablet/321-1279";

// from 650px to 1279px
@import "tablet/650-1279";

// from 769px to 1279px
@import "tablet/769-1279";

// from 768px to 1090px
@import "tablet/768-1090";

// from 768px to 1227px
@import "tablet/768-1227";

// from 321px to 768px
@import "tablet/321-768";