$figure-size: 162px;
$tablet-container: $tablet - $column-tablet - $padding;
$step: 160px;
$submit-button-height: 82px;

// from 321px to 1279px
@include breakpoint($tablet-min-width $desktop-middle-width) {
  
  @include layout($tablet-layout);
  
  body {
    padding-top: $nav-height-tablet;
    
    @include block('services') {
    
      @include element('triangles') {
        @include post(percentage(-$padding-edge / $tablet));
      }

      @include element('squares') {
        @include post(percentage(-$padding-edge / $tablet));
      }

      @include element('square') {
        margin-right: percentage(($figure-size / 2) / $tablet);
        margin-top: -($figure-size / 2);
      }

      @include element('triangle') {
        @include size(percentage($figure-size / $tablet), ($figure-size / 2));
      }

      @include element('square') {
        @include size(percentage($figure-size / $tablet), $figure-size);
      }
      
      @include element('feature') {
        width: percentage(($tablet / 3) / $tablet);
        margin-bottom: 155px;
      }

      @include element('features') {
        @include break;
        margin-bottom: 0;
      }
      
      @include element('panel-bottom') {
        background-position: center center;
      }
    } 
    
    @include block('projects') {
      
      @include element('item') {
        @include break;

        &:nth-child(3n + 1),
        &:nth-child(3n + 2),
        &:nth-child(3n) {
          @include size(percentage(493px / $tablet), auto);
          padding: 25px 0 20px;
          margin: auto;
          float: none;
        }
      }
      
      @include element('view-all') {
        width: percentage(332px / $tablet);
        @include fontsize(22);
        margin: 25px auto 45px;
        float: none;
        display: block;
      }
      
      @include element('wrapper') {
        @include container($tablet);
      }
    }
    
    @include block('project') {

      @include element('description') {
        height: 60px;
      }

      @include element('view') {
        padding: 19px 27px;
        text-align: center;
      }

      @include element('title') {
        padding: 19px 27px;
      }
    }
    
    @include block('footer') {

      @include element('title') {
        @include fontsize(30);
        @include span(2 at 1 wide);
        padding-top: 32px;
        padding-bottom: 32px;
      }
      
      @include element('wrapper') {
        @include container($tablet);
      }
    }

    @include block('phones') {
      @include span(3 at 3.7);
      margin-top: 30px;

      @include element('item') {
        @include fontsize(20);
        margin-top: 0;
        margin-bottom: 8px;
      }
    }

    @include block('emails') {
      @include span(3 at 3.7);
      margin-top: 95px;

      @include element('item') {
        @include fontsize(20);
        margin-top: 0;
        margin-bottom: 8px;
      }
    }

    @include block('social-icons') {
      @include span(2.5 at 6.5);
    }

    @include block('contact') {
      padding-top: 50px;

      @include element('description') {
        @include break;
        @include fontsize(20);
        margin-top: 0;
        margin-bottom: 48px;
        padding-top: 25px;
      }
    }

    @include block('talk-to-us') {
      padding-bottom: 45px;

      @include element('title') {
        @include span(7 at 1.5);
        @include fontsize(30);
        margin-top: 30px;
      }

      @include element('description') {
        @include span(7 at 1.5);
      }

      @include element('submit') {
        @include fontsize(22);
        height: $submit-button-height;
        line-height: $submit-button-height;
      }
    }

    @include block('detail') {
      @include span(4.5 at 1.5);

      @include element('title') {
        @include fontsize(20);
        font-weight: $semi-bold;
        text-indent: 15px;
        padding-top: 15px;
        padding-bottom: 0px;
      }

      @include element('add-brief') {
        margin-top: 30px;
      }
    }

    @include block('info') {
      @include span(5.5 at 1.5);
      @include break;

      @include element('title') {
        text-indent: 15px;
        padding-top: 10px;
        @include fontsize(20);
      }

      @include element('subtitle') {
        @include fontsize(20);
      }

      @include element('field') {
        margin-right: 0;
        margin-bottom: 32px;
        width: 100%;
        @include fontsize(18);
      }
    }

    @include block('select-field') {
      margin-right: 0;
      margin-bottom: 32px;
      width: 100%;

      @include element('item') {
        @include fontsize(18);
      }
    }

    @include block('dropdown-choose-list') {
      padding-top: 45px;
      padding-bottom: 0;

      @include element('title') {
        @include fontsize(18);
        margin-right: 0;
        width: 100%;
        @include box-sizing('border-box');
      }
    }

    @include block('upload-file-field') {
      margin-top: 45px;
      display: block;
    }

    @include block('checkbox') {

      @include element('label') {
        @include fontsize(18);
      }
    }

  }
}

// from 650px to 1279px
@include breakpoint($tablet-interim-width $desktop-middle-width) {

  body {

    @include block('portfolio') {
      margin-top: 53px;

      .projects__list {
        margin: 0;
      }

      .projects__item {
        padding: 0;
        width: percentage(332px / $tablet);

        &:nth-child(2n + 1) {
          float: left;
          clear: both;
          margin: 0 0 30px 0;
          height: auto;
        }

        &:nth-child(2n) {
          float: right;
          clear: none;
          margin: 0 0 30px 0;
          height: auto;
        }
      }

      .project__title {
        padding-left: 15px;
        padding-right: 15px;
        @include fontsize(19);
      }

      .project__view {
        padding-left: 0;
        padding-right: 0;

        .fa-long-arrow-right {
          width: 16px;
        }
      }
    }

    @include block('categories') {
      @include break;
      float: none;
      width: 100%;
      margin: 0 0 28px 0;
      padding-top: 28px;

      @include element('item') {
        @include fontsize(16);
        margin-right: rem-calc(25);
      }

      @include element('list') {
        margin: 0;
      }
    }
  }
}

// from 769px to 1279px
@include breakpoint($tablet-max-width + 1 $desktop-middle-width) {

  body {

    @include block('categories') {
      @include span(7.2);
      margin-right: auto;
      margin-left: auto;
      float: none;
    }
  }
}

// from 768px to 1090px
@include breakpoint($tablet-max-width $desktop-interim-width) {
  
  body {
    
    @include block('nav') {
    
      @include element('item') {
        margin: 0;
        padding: 0 rem-calc(10);
      }
      
      @include element('lang-item') {
        padding: 0;
      }
    }
    
    @include block('article') {
      
      @include element('title') {
        @include span(6);
      }
      
      @include element('quote') {
        @include span(5);
      }
      
      @include element('cite') {
        @include fontsize(16);
        margin-bottom: 30px;
      }
      
      @include element('brain-title') {
        @include fontsize(35);
      }
      
      p {
        @include fontsize(17);
      }
    }
    
    @include block('love-it') {
      
      @include element('inner') {
        @include fontsize(34);
      }
    }
    
    @include block('about-us') {
      
      @include element('panel-bottom') {
        margin-top: -85px;
      }
    }
    
    @include block('advantages') {
      
      @include element('item') {
        
        &:nth-child(2) {
          margin: 0 percentage(50px / ($desktop));
        }
      }
    }
    
    @include block('process') {
      
      @include element('steps') {
        background-image: url(../img/steps-768.png);
          
      }
    }
  }
}

// from 768px to 1227px
@include breakpoint($tablet-max-width $desktop-middle-width) {
  @include layout($tablet-layout);
  
  body {

    @include block('header') {

      @include element('title') {
        @include span(6 wider at 2);
        @include fontsize(69);
        letter-spacing: 0.045em;
        padding-top: 188px;
        margin-bottom: 110px;
      }

      @include element('subtitle') {
        @include fontsize(67);
        letter-spacing: 0.058em;
        margin-top: 34px;
      }

      @include element('underline') {
        @include size(percentage(180px / $tablet), 4px);
        margin-bottom: 110px;
      }

      @include element('slogan') {
        @include fontsize(29);
      }

      @include element('go-next') {
        margin-top: 135px;
        margin-bottom: 128px;
      }
    }
    
  }
  
}

// from 321px to 768px
@include breakpoint($tablet-min-width $tablet-max-width) {

  @include layout($tablet-layout);

  body {
    
    .wrapper {
      @include container($tablet); 
    }
    
    @include block('nav') {

      height: 70px;

      @include element('logo') {
        @include size(120px, 120px);
        margin-left: percentage(40px / $tablet);
        margin-top: -21px;
        @include break;
      }
    }

    @include block('about-us') {

      @include element('title') {
        @include fontsize(50);
        @include span(8);
      }

      @include element('panel-bottom') {
        @include size(100%, 80px);
        margin-top: -74px;
      }
    }

    @include block('article') {
      @include break;
      @include span(6.5 wider);
      @include center-block;
      float: none;
      padding-left: 0;

      @include element('title') {
        @include span(8);
        @include fontsize(35);
        letter-spacing: normal;

      }

      @include element('quote') {
        @include span(8);
        @include fontsize(20);
        margin-bottom: 25px;
      }

      @include element('column-1') {
        @include span(8);
      }

      p {
        @include fontsize(16);
        margin: 0 0 36px;
      }

      @include element('cite') {
        margin-bottom: 42px;
        margin-top: 0;
        padding-left: 0;
      }

      @include element('column-2') {
        @include span(8);
      }

      @include element('sidebar') {
        @include break;
        @include span(4 at 3);
      }

      @include element('brain') {
        width: 83%;
      }

      @include element('brain-title') {
        @include fontsize(30);
        font-weight: $semi-bold;
        line-height: 1.1;
      }
    }

    @include block('love-it') {
      @include size(100%, 290px);
      border-top: solid 1px $color-grey-light;
      border-bottom: solid 1px $color-grey-light;

      @include element('inner') {
        @include fontsize(35);
      }

      @include element('title') {
        width: 100%;
      }
    }

    @include block('services') {

      @include element('panel-bottom') {
        @include background-size(120% auto);
        background-position: center center;
        height: rem-calc(300);
      }
    }

    @include block('advantages') {
      @include span(8);
      margin-top: 22px;
      margin-bottom: 95px;

      @include element('content') {
        @include fontsize(16);
        padding: 0 10px;
        margin: 10px 0;
        line-height: 1.5;
      }

      @include element('item') {
        @include fontsize(16);

        &:nth-child(1),
        &:nth-child(3) {
          width: percentage(240px / $tablet);
        }

        &:nth-child(1) {

          .advantages__content {
            padding: 0 20px;
          }
        }

        &:nth-child(2) {
          margin: 0 percentage(16px / $tablet);
          width: percentage(190px / $tablet);
        }
      }
    }

    @include block('process') {

      @include element('description') {
        @include break;
        @include span(8);
        @include fontsize(18);
      }

      @include element('steps') {
        @include span(8);
        margin-bottom: 0;
        background-image: url(../img/steps-768.png);
      }

      @include element('step') {
        width: percentage($step / $tablet-container);

        img {
          @include size(61px, auto);
          margin: auto;
        }

        &:nth-child(1),
        &:nth-child(5) {
          margin-top: 210px;
        }

        &:nth-child(2),
        &:nth-child(5) {
          margin-left: -(percentage(($step / 2) / $tablet-container));
        }

        &:nth-child(3) {
          margin: 370px (-1) * (percentage(($step / 12) / $tablet-container)) 0;

          img {
            @include size(94px, auto);
          }
        }

        &:nth-child(5) {
          width: percentage(($step / 1.2) / $tablet-container);
        }
      }

      @include element('step-title') {
        @include fontsize(16);
      }

      @include element('step-description') {
        @include fontsize(16);
      }
    }

    @include block('projects') {

      @include element('title') {
        padding-top: 65px;
      }

      @include element('list') {
        @include break;
      }
    }

    #make-order {
      @include fontsize(22);
    }

  }

}