// Grid settings
$susy: (
  columns: 16,
  gutters: $padding/$column,
  math: fluid,
  output: isolate,
  gutter-position: after
);

$wide-layout: (
  columns: 16,
  gutters: $padding/$column-wide,
  math: fluid,
  output: isolate,
  gutter-position: after
);

$tablet-layout: (
  columns: 8,
  gutters: $padding/$column-tablet,
  math: fluid,
  output: isolate,
  gutter-position: after
);

$mobile-layout: (
  columns: 4,
  gutters: $padding-mobile/$column-mobile,
  math: fluid,
  output: isolate,
  gutter-position: after
);

// Breakpoints
$desktop-wide-min-width: $desktop-wide + ($padding-edge * 2);

$desktop-min-width: $desktop + ($padding-edge * 2);
$desktop-max-width: $desktop-wide + ($padding-edge * 2) - 1;

$tablet-min-width: $tablet + ($padding-edge * 2);
$tablet-max-width: $desktop + ($padding-edge * 2) - 1;

$mobile-min-width: $mobile + ($padding-edge-mobile * 2);
$mobile-max-width: $tablet + ($padding-edge * 2) - 1;