// Components states
%field-active-state {
  border-width: 2px;
  border-color: $color-blue;
  text-indent: -1px;
  line-height: $field-height - 2;
}

// Grid settings
$susy: (
  columns: 16,
  gutters: $padding/$column,
  math: fluid,
  output: isolate,
  gutter-position: after
);

$wide-layout: (
  columns: 16,
  gutters: $padding/$column-wide,
  math: fluid,
  output: isolate,
  gutter-position: after
);

$tablet-layout: (
  columns: 8,
  gutters: $padding/$column-tablet,
  math: fluid,
  output: isolate,
  gutter-position: after
);

$mobile-layout: (
  columns: 4,
  gutters: $padding-mobile/$column-mobile,
  math: fluid,
  output: isolate,
  gutter-position: after
);

// Breakpoints
$desktop-wide-min-width: $desktop-wide + ($padding-edge * 2); // 1920px

$desktop-min-width: $tablet + ($padding-edge * 2) + 1; // 769px
$desktop-middle-width: $desktop + ($padding-edge * 2) - 1; // 1279px
$desktop-interim-width: 1090px;
$desktop-max-width: $desktop-wide + ($padding-edge * 2) - 1; // 1919px

$tablet-min-width: $mobile + ($padding-edge-mobile * 2) + 1; // 321px
$tablet-interim-width: 650px;
$tablet-middle-width: 550px;
$tablet-max-width: $tablet + ($padding-edge * 2); // 768px

$mobile-min-width: 200px;
$mobile-max-width: $mobile + ($padding-edge-mobile * 2); // 320px

$nav-offset: 310px;
$nav-offset-mobile: 260px;